In [5]:
import pandas as pd
import sqlite3
import datetime
import os

In [7]:
# definir o caminho para o arquivo JSONL
df = pd.read_json('../../data/data.jsonl', lines=True)
print (df)

           brand                                               name old_price  \
0           FILA  Tenis Fila Efecto Masculino Caminhada Corrida ...    392,43
1       POLO BLU  Tênis Esportivo Polo Blu Confortável Tecido + ...    207,88
2           FILA  Tenis Fila Efecto Masculino Caminhada Corrida ...    392,43
3       POLO BLU  Tênis Esportivo Polo Blu Confortável Tecido + ...    207,88
4       POLO BLU  Tênis Esportivo Academia Polo Blu + Óculos Lev...      None
..           ...                                                ...       ...
554          RDW  Kit 02 Tênis Masculinos Corrida Academia Camin...    163,90
555    ULTRABONE  Tênis Academia Esportivo Unisex Confortável Tr...      None
556  NEW BALANCE       Tênis New Balance 1080 V14 V4 M1080V14 color      None
557    OLYMPIKUS            Tênis Casual Masculino Only 2 Olympikus      None
558         FILA               Fila Float Maxxi 2 Masculino Adultos    699,90

    current_price discount  reviews  reviews_total
0          199,99  49% OFF      4.7         1871.0
1           83,15  60% OFF      NaN            NaN
2          199,99  49% OFF      4.7         1871.0
3           83,15  60% OFF      NaN            NaN
4          141,29     None      NaN            NaN
..            ...      ...      ...            ...
554        155,70   5% OFF      NaN            NaN
555         78,99     None      NaN            NaN
556          None   9% OFF      5.0           35.0
557          None     None      4.8         6188.0
558        587,24  16% OFF      4.7           39.0

[559 rows x 7 columns]

In [6]:
os.getcwd()

'd:\\OneDrive\\Documentos\\dev\\data engineer\\etl-scraping\\src\\transformacao'